*{
    margin: 0px;
    padding:  0px;
}
#shirtProducts{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-columns: 1fr 1fr 1fr  ;
grid-gap: 50px;
    grid-template-rows: 380px 380px 380px 380px 380px 380px;

}
.shirtProd{
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    flex-direction: column;
    background-color: lightblue;
}
.shirtAbout{
    height: 13vh;
    text-align: left;
    margin: 5px 20px;
    border: 0.5px solid white;
    border-radius: 30px;
    padding: 12px;
    width: 25vw;
}
/* footer{
    margin-top: 300px;
} */